.wineitem,h1 {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;

}

img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}